<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TU DNI HA SIDO REGISTRADO!</h1>
    <p>Tu nombre es: <%= userNombre %></p>
    <p>Tu DNI es: <%= dniUser%></p>
    <p>Tus Apellidos son: <%= userApellidos %></p>
    <p>Tu contraseña es: <%= userContrasena %></p>
    <p>Tu email es: <%= userEmail %></p>
    <p>Tu telefono es: <%= userTelefono %></p>
</body>
</html>